.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  // background: linear-gradient(#93a5cf , #a8e4c3
  background: linear-gradient(#93a5cf , #e4efe9
  )
  // background: linear-gradient(#ffafbd , #ffc3a0)
  
 

}

