.grid__settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  min-height: 800px;
  
  .colorPickers{
    display: flex;
    justify-content: space-between;
    .colorPicker {
      text-align: center;
      margin: 0 15px;
    }
  }

  .grid__slider{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  body{

    .colorPickers{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .colorPicker {
        .sketch-picker {
          width: 350px !important;
        }
      }
    }
  }
}